/* @import 'variables.css'; */

a {
  /* color: var(--text-color); */
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* 100% высоты контейнера навигации */
}

li {
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  /* height: 100%; 100% высоты родительского элемента (списка ul) */
}

li:hover {
  background-color: #ddd;
}

/* Content */
.content {
  margin-left: 250px; /* Отступ контента справа от навигации */
  transition: transform 0.3s ease;
}

/* Смещение контента влево, когда навигация смещена */
.navigation.collapsed + .content {
  transform: translateX(-200px); /* Смещаем контент влево на ширину навигации */
}

/* Navigation */

.navigation-container {
  display: flex;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 20px;
  /* border-radius: 16px; */
  background-color: #f0f0f0;
  transition: transform 0.3s ease; /* Применяем анимацию к свойству transform */
}

.navigation.collapsed {
  transform: translateX(
    -200px
  ); /* Сдвигаем навигацию влево за пределы экрана */
}


.navigation-item {
  color: var(--text-color) !important;/* Add margin to the right of the icon */
}

/* Style for icons */
.navigation-item i {
  margin-right: 5px; /* Add margin to the right of the icon */
}



/* Toggle button */
.toggle-button {
  position: fixed;
  background-color: var(--navbg-color);
  border: none;
  color: #333;
  cursor: pointer;
  padding: 10px;
  /* margin-left: -20px; */
  z-index: 999; /* Поместите кнопку поверх остального контента */
  top: 0;
  left: 250px; /* Расположение кнопки справа от навигации */
  transition: left 0.3s ease; /* Применяем анимацию к свойству left */
}

.navigation.collapsed + .toggle-button {
  left: 0; /* Сдвигаем кнопку влево при скрытии навигации */
}

.material-icons {
  font-size: 16px; /* Размер иконки */
  vertical-align: baseline;
  color: red; /* Цвет иконки */
  /* Другие стили */
}

main {
  max-width: 1200px;  Максимальная ширина контента */
  margin: 0 auto; /* Центрирование контента */
  padding: 20px; Отступы вокруг контента
}

h1 {
  font-size: 24px; /* Размер заголовка */
  margin-bottom: 20px; /* Отступ после заголовка */
}

/* Content styles */
section {
  /* Отступ контента справа от навигации */
  margin-left: 250px;
  /* Ширина контента = 100% - отрицательный margin-left */
  width: calc(100% - 250px);
  /* Применяем анимацию для смещения контента влево при смещении навигации */
  transition: margin-left 0.3s ease;
}